{
  "phpVersion": "7.3",
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "trailingCommaPHP": true,
  "braceStyle": "1tbs"
}
